.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    margin: 0 auto;
}

img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    cursor: pointer;
    outline: 1px solid pink;
}