.operations {
    width: 240px;
    height: 50px;
    background-color: orangered;
    display: flex;
}

.operation {
    width: 60px;
    height: 50px;
    color: black;
    outline: 1px solid blue;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.numbers {
    width: 240px;
    height: 200px;
    background-color: darksalmon;
    display: inline-flex;
    flex-wrap: wrap;
}

.num {
    width: 80px;
    height: 50px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: 1px solid blue;
}